body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

h2 {
    margin: 0;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 20%;
    right: 0;
    width: 300px;
    font-size: 14px;
    height: 100%;
}

.tabs {
    background-color: #e8e8e8;

    padding: 15px;
}

#flyout {
    position: absolute;
    width: 250px;
    color: #fff;
    display:none;
 
    top: 0;

    z-index: 2000;
}

#flyoutTop {
    background: #16639A;
    padding: 8px;
    font-size: 14px;
    height:75px;
}

#flyoutBottom {
    display: block;
    height: 0;
    width: 0;
    border-left: 35px #04364F solid;
    border-bottom: 19px solid rgba(255, 255, 255, 0);
    position: relative;
    right: -216px;

}

#flyoutAddress {
    font-size: 20px;
    margin-bottom: 8px;}

#flyoutTax {
    display: inline-block;
    margin-left: 7px;
    margin-bottom: 11px;
    text-decoration: underline;
}

.flyoutClick {

    font-size: 9px;
}

#taxTab {
    height: 100%
}

.tabTitle {
  text-align: center;
}

#taxTab p {
  font-size: 14px;
}

#taxTab .taxTitle {
  text-decoration: underline;
  font-weight:700;
}

#taxTab .taxData {
  text-decoration: none;
}