body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

h2 {
    margin: 0;
}

#map {
    position:fixed;
}

 body {
        font-family: 'Maven Pro', sans-serif;
    }

    path {
        stroke:#000;
        opacity:.6;
        
    }

    path:hover {
        cursor:pointer;
        opacity:1;
        stroke: #56FF59;
        stroke-width: 3px;

    }

    .tooltip {
        position: fixed;
        top: 10px;
        left: 50px;
        background: #fff;
        padding: 10px;
    }

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 272px;

}
.tabCloseButton {
    font-size: 19px;
position: relative;
left: -1px;
top: -1px;
float: right;
    }

.tab {
    width: 226px;
    font-size: 11px;
    height: 226px;
    background: #16639A;
    color: #fff;
    padding: 12px;
    margin: 5px 10px;
    border-right: 3px solid #04364F;
    border-bottom: 3px solid #04364F;
    display: inline-block;
    float: right;
}

#flyout {
    position: absolute;
    width: 250px;
    color: #fff;
    display:none;
 
    top: 0;

    z-index: 2000;
}

#flyoutTop {
    background: #16639A;
    padding: 8px;
    font-size: 14px;
    height:75px;
}

#flyoutBottom {
    display: block;
    height: 0;
    width: 0;
    border-left: 35px #04364F solid;
    border-bottom: 19px solid rgba(255, 255, 255, 0);
    position: relative;
    right: -216px;

}

#flyoutAddress {
    font-size: 20px;
    margin-bottom: 8px;}

#flyoutTax {
    display: inline-block;
    margin-left: 7px;
    margin-bottom: 11px;
    text-decoration: underline;
}

.flyoutClick {

    font-size: 9px;
}

#taxTab {
    height: 100%
}

.tabTitle {
  text-align: center;
}

#taxTab .taxTitle {
  text-decoration: underline;
  font-weight:700;
}

#taxTab .taxData {
  text-decoration: none;
}

.address {
    font-size: 18px;
}

#taxTabTemplate {
    display:none;
    font-size: 22px;
    margin-bottom: 3px;
}
#bbl {
    font-size: 10px;;
}

.borough, .block, .lot {
    text-decoration:underline;
    margin-left: 3px;
    margin-right: 3px;
}

.estimatedValue .taxData, 
.assessedValue .taxData,
.taxRate .taxData,
.taxBefore .taxData,
.annualTax .taxData,
.exemptions .taxData,
.taxBefore .taxData,
.taxPerUnit .taxData{
    float:right;
}

.annualTax {
    border-bottom: 1px solid;
    font-size:16px;
}

.taxBillLink a {
  color: white;
  text-decoration: underline;
  text-align: center;
}

.taxBillLink a:hover, .tabCloseButton:hover {
  cursor: pointer;
}

#sidebar div {
    margin-bottom: 2px;
}

<<<<<<< HEAD
#title {
    width: 300px;
    font-size: 20px;
    height: 23px;
    background: #16639A;
    color: #fff;
    padding: 12px;
    margin: 5px 10px;
    border-right: 3px solid #04364F;
    border-bottom: 3px solid #04364F;
    position: fixed;
    z-index: 4000;
    top: 6px;
    font-weight: 800;
    left: 37px;

=======
.tab .close {
    float: right;
    cursor: pointer;
    font-weight: bold;
>>>>>>> 646e1410b6c4f2b1eef6ab3a4510d9d8905e99d3
}