body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

h2 {
    margin: 0;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 20%;
    right: 0;
    width: 300px;
    font-size: 14px;
    height: 100%;
}

.tabs {
    background-color: #e8e8e8;

    padding: 15px;
}

#taxTab {
    height: 100%
}

.tabTitle {
  text-align: center;
}

#taxTab p {
  font-size: 14px;
}

#taxTab .taxTitle {
  text-decoration: underline;
  font-weight:700;
}

#taxTab .taxData {
  text-decoration: none;
}