<!DOCTYPE html>
<html>
<head>
  <title>Leaflet Quick Start Guide Example</title>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/leaflet.css" />
  <link rel="stylesheet" href="css/style.css" />
  <style>

    body {
        font-family: 'Maven Pro', sans-serif;
    }

    path {
        stroke:#000;
        opacity:.6;
        
    }

    path:hover {
        cursor:pointer;
        opacity:1;

    }

    .tooltip {
        position: fixed;
        top: 10px;
        left: 50px;
        background: #fff;
        padding: 10px;
    }
</style>

</head>
<body>
<div id = "flyout">
    <div id = "flyoutTop">
        <div id = "flyoutAddress"></div>
        Annual Tax:<div id = "flyoutTax"></div>
        <div class = "flyoutClick">Click property for details...</div>
    </div>
    <div id = "flyoutBottom">
    
    </div>
</div>
<div id="map"></div>
  
<div id="sidebar"></div>

<script src="js/leaflet.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/colorbrewer.js"></script>
<script>


    var UNDEFINEDCLR = '#000';
    var ZEROCLR = '#F00';
    var num_format = d3.format(",");
    var map = L.map('map').setView([40.78233,-73.97919], 16);

    L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/48569/256/{z}/{x}/{y}.png', {
        maxZoom: 20,
        minZoom: 16,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
    }).addTo(map);


    var svg = d3.select(map.getPanes().overlayPane).append("svg")
    .attr('width', window.screen.width).attr('height', window.screen.height),
    g = svg.append("g").attr("class", "leaflet-zoom-hide");


    

    var popup = L.popup();





    map.on('dragend', function (e) {
        updatePolygons();
    });

    map.on('zoomend', function (e) {
        updatePolygons();
    });


    //map.on('viewreset', reset);

    var color = d3.scale.quantize();
    color.domain([0,7294132]).range(colorbrewer.Blues[9]);

    updatePolygons();


    jQuery("#map").mousemove(function(e) {
        jQuery('#flyout')
        .css({'left':e.pageX-215,'top':e.pageY-jQuery(document).scrollTop()-120});

    });


    function updatePolygons(){

        $(".map-pane-overlay")

        var bboxString = map.getBounds().toBBoxString();
        var center = map.getCenter();
        var lat = center.lat;
        var lon = center.lng;

        
        map.setView([lat,lon]);
        map.viewreset;

        $('svg').remove();

        var svg = d3.select(map.getPanes().overlayPane).append("svg")
        .attr('width', window.screen.width).attr('height', window.screen.height),
        g = svg.append("g").attr("class", "leaflet-zoom-hide");

        
        

        //svg.attr('top','0px');
        d3.json("http://localhost:3000/taxlots?bbox=" + bboxString,function(data){


            var transform = d3.geo.transform({point: projectPoint}),
            path = d3.geo.path().projection(transform);
            bounds = path.bounds(data);

            var topLeft = bounds[0],
            bottomRight = bounds[1];

            svg.attr("width", bottomRight[0] - topLeft[0])
            .attr("height", bottomRight[1] - topLeft[1])
            .style("left", topLeft[0] + "px")
            .style("top", topLeft[1] + "px");

            g.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");



            var feature = g.selectAll("path")
            .data(data.features)
            .enter()
            .append("path")
            .attr('fill', function (d) {
                if(d.properties && d.properties.years) {

                    if (d.properties.years[0].annualTax === 0) {
                        return ZEROCLR;
                    }

                    return (d.properties.years[0].annualTax) ? color(d.properties.years[0].annualTax) : UNDEFINEDCLR;
                }

                return UNDEFINEDCLR;
            });


            feature.attr("d", path);
            feature.on('mouseover', function (d) {
                
           
                updateSidebar(d.properties);

                updateFlyout(d.properties);
              

            });

            feature.on('click', function (d) {
                
                var billUrl = 'http://nycprop.nyc.gov/nycproperty/StatementSearch?bbl=' + d.properties.billingbbl + '&stmtDate=20131122&stmtType=SOA';
                window.open(billUrl);
            });

            feature.on('mouseout', function (d) {
                flyoutTimer = setTimeout(function(){
                    $("#flyout").fadeOut(50); 
                },50);
                clearSidebar();
                //$('#flyout').hide();


            });
        });
  }





  function projectPoint(x, y) {
      var point = map.latLngToLayerPoint(new L.LatLng(y, x));
      this.stream.point(point.x, point.y);
  }


  // input is data.properties, updates the values in the sidebar
  function updateSidebar(p) { 
      var borough = String(p.billingbbl).charAt(0);
      var block = String(p.billingbbl).substring(1,6);
      var lot = String(p.billingbbl).substring(6,10);


      $('#borough .taxData').html(borough);
      $('#block .taxData').html(block);
      $('#lot .taxData').html(lot);

      $('#address .taxData').html(p.propertyAddress);
      $('#ownerName .taxData').html(p.ownerName);
      $('#taxClass .taxData').html(p.taxClass);

      $('#estimatedValue .taxData').html(toDollars(p.years[0].estimatedValue));
      $('#assessedValue .taxData').html(toDollars(p.years[0].assessedValue));
      $('#taxRate .taxData').html(p.years[0].taxRate);
      $('#taxBefore .taxData').html(toDollars(p.years[0].taxBefore));
      $('#annualTax .taxData').html(toDollars(p.years[0].annualTax));
      $('#unitsTotal .taxData').html(p.unitsTotal);
      $('#taxPerUnit .taxData').html(toDollars(p.years[0].annualTax/p.unitsTotal));

  }

    var tabString = '<div id="taxTab" class="tabs">\
        <h2 class="tabTitle">NYC Property Tax Explorer</h2>
        <p id="address"><span class="taxTitle">Address:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="borough"><span class="taxTitle">Borough:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="block"><span class="taxTitle">Block:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="lot"><span class="taxTitle">Lot:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="ownerName"><span class="taxTitle">Owner Name:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="taxClass"><span class="taxTitle">Tax Class:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="estimatedValue"><span class="taxTitle">Estimated Market Value:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="assessedValue"><span class="taxTitle">Taxable Assessed Value:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="taxRate"><span class="taxTitle">Tax Rate:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="taxBefore"><span class="taxTitle">Tax Before Exemptions and Abatements:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="annualTax"><span class="taxTitle">Annual Tax:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="unitsTotal"><span class="taxTitle">Units:</span>&nbsp;<span class="taxData"></span></p>\
        <p id="taxPerUnit"><span class="taxTitle">~Tax Per Unit:</span>&nbsp;<span class="taxData"></span></p>\
      </div>';

    $('#sidebar').html(tabString);


    // sidebar needs to have up to 3 tabs. When a property is clicked, it should put all the variables in a tab. When the 2nd is clicked, it should put it in the tab below. 3rd is same. When the 4th is clicked, it should remove the first tab and insert a new tab below. Tabs should have an exit circle to click and get out of the tab. If tab 1 is exited, move tabs 2 and 3 up. If tab 2 is clicked, move tab 3 up...



  function updateFlyout(d){
      console.log(d);
      $('#flyoutAddress').html(d.propertyAddress);
      $('#flyoutTax').html(toDollars(d.years[0].annualTax));

      clearTimeout(flyoutTimer);
      $('#flyout').fadeIn(50);

  }

  function clearSidebar() {
      $('.taxData').html("");
  }

  function projectPoint(x, y) {
    var point = map.latLngToLayerPoint(new L.LatLng(y, x));
    this.stream.point(point.x, point.y);
  }

  function toDollars(n){
      var dollars = n.toFixed(0).toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g,'$1,').split('').reverse().join('').replace(/^[\,]/,'');
      return "$" + dollars;
  }

</script>

<div class="tooltip">
    <span id="val"></span>
</div>
</body>
</html>