<!DOCTYPE html>
<html>
<head>
  <title>NYC Property Tax Explorer</title>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/leaflet.css" />
  <link rel="stylesheet" href="css/style.css" />

</head>
<body>
<div id = "flyout">
    <div id = "flyoutTop">
        <div id = "flyoutAddress"></div>
        Annual Tax:<div id = "flyoutTax"></div>
        <div class = "flyoutClick">Click property for details...</div>
    </div>
    <div id = "flyoutBottom">
    
    </div>
</div>
<div id="map"></div>

<div id="sidebar"></div>

<div id="taxTabTemplate" class="tab">
  <div class="address"><span class="taxData"></span><span class="close">X</span></div>
  <div class="bbl">
    <span class="taxTitle">Borough:</span><span class="borough taxData"></span>
    <span class="taxTitle">Block:</span><span class="block taxData"></span>
    <span class="taxTitle">Lot:</span><span class="lot taxData"></span>
  </div>
  <div class="ownerName">
    <span class="taxTitle">Owner:</span><span class="taxData"></span>
  </div>
  <div class="unitsTotal"><span class="taxTitle">Units:</span>&nbsp;<span class="taxData"></span></div>
  <div class="taxClass"><span class="taxTitle">Tax Class:</span>&nbsp;<span class="taxData"></span></div>

  <div class="estimatedValue"><span class="taxTitle">Estimated Market Value:</span>&nbsp;<span class="taxData"></span></div>
  <div class="assessedValue"><span class="taxTitle">Taxable Assessed Value:</span>&nbsp;<span class="taxData"></span></div>
  <div class="taxRate"><span class="taxTitle">Tax Rate:</span>&nbsp;<span class="taxData"></span></div>
  
  <div class="taxBefore"><span class="taxTitle">Tax Before Exemptions:</span>&nbsp;<span class="taxData"></span></div>
  <div class="exemptions"><span class="taxTitle">Exemptions:</span>&nbsp;<span class="taxData"></span></div>
  <div class="annualTax"><span class="taxTitle">Annual Tax:</span>&nbsp;<span class="taxData"></span></div>

  <div class="taxPerUnit"><span class="taxTitle">~Tax Per Unit:</span>&nbsp;<span class="taxData"></span></div>

  <div class="taxBillLink"><a>11/22/2013 Tax Bill</a></div>

</div>

<script src="js/leaflet.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/colorbrewer.js"></script>
<script>


    var UNDEFINEDCLR = '#000';
    var ZEROCLR = '#F00';
    var num_format = d3.format(",");
    var map = L.map('map').setView([40.78233,-73.97919], 16);

    L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/48569/256/{z}/{x}/{y}.png', {
        maxZoom: 20,
        minZoom: 16,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
    }).addTo(map);


    var svg = d3.select(map.getPanes().overlayPane).append("svg")
    .attr('width', window.screen.width).attr('height', window.screen.height),
    g = svg.append("g").attr("class", "leaflet-zoom-hide");

    var popup = L.popup();

    map.on('dragend', function (e) {
        updatePolygons(false);
    });

    map.on('zoomend', function (e) {
        updatePolygons(true);
    });

    //map.on('viewreset', reset);

    var color = d3.scale.quantile();
    color.domain([0,1000000]).range(colorbrewer.Greens[9]);

    updatePolygons(false);

    jQuery("#map").mousemove(function(e) {
        jQuery('#flyout')
        .css({'left':e.pageX-215,'top':e.pageY-jQuery(document).scrollTop()-120});
    });

    function updatePolygons(isZoom){

        $(".map-pane-overlay")

        var bboxString = map.getBounds().toBBoxString();
        var center = map.getCenter();
        var lat = center.lat;
        var lon = center.lng;

        if (isZoom) {
            $('svg').css('display', 'none');
        }


        d3.json("http://localhost:3000/taxlots?bbox=" + bboxString,function(data){
            map.setView([lat,lon]);
            map.viewreset;

            $('svg').remove();

            var svg = d3.select(map.getPanes().overlayPane).append("svg")
                        .attr('width', window.screen.width).attr('height', window.screen.height),
                  g = svg.append("g").attr("class", "leaflet-zoom-hide");

            var transform = d3.geo.transform({point: projectPoint}),
            path = d3.geo.path().projection(transform);
            bounds = path.bounds(data);

            var topLeft = bounds[0],
            bottomRight = bounds[1];

            svg.attr("width", bottomRight[0] - topLeft[0])
            .attr("height", bottomRight[1] - topLeft[1])
            .style("left", topLeft[0] + "px")
            .style("top", topLeft[1] + "px");

            g.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");

            var feature = g.selectAll("path")
            .data(data.features)
            .enter()
            .append("path")
            .attr('fill', function (d) {
                if(d.properties && d.properties.years) {

                    if (d.properties.years[0].annualTax === 0) {
                        return ZEROCLR;
                    }

                    return (d.properties.years[0].annualTax) ? color(d.properties.years[0].annualTax) : UNDEFINEDCLR;
                }
                return UNDEFINEDCLR;})
            .attr("d", path);

            feature.on('mouseover', function (d) {
                updateFlyout(d.properties);
            });

            feature.on('click', function (d) {
                updateTabs(d.properties);
            });

            feature.on('mouseout', function (d) {
                flyoutTimer = setTimeout(function(){
                    $("#flyout").fadeOut(50); 
                },50);
            });
        });
  }

  function projectPoint(x, y) {
      var point = map.latLngToLayerPoint(new L.LatLng(y, x));
      this.stream.point(point.x, point.y);
  }


  function updateTabs(p) {

    var tabs = $('#sidebar').children('.tab');

    // if three tabs, kill top one.
    if (tabs.length > 2) {
      var first = $(tabs[0]);
      $('#sidebar').children(":first").remove();
    }

    addTab(p);
  }

  // input is data.properties, creates a new tab
  function addTab(p) { 
      var borough = String(p.billingbbl).charAt(0);
      var block = String(p.billingbbl).substring(1,6);
      var lot = String(p.billingbbl).substring(6,10);

      var tab = $('#taxTabTemplate').clone();

      tab.find('.borough .taxData').html(borough);
      tab.find('.block .taxData').html(block);
      tab.find('.lot .taxData').html(lot);

      tab.find('.address .taxData').html(p.propertyAddress);
      tab.find('.ownerName .taxData').html(p.ownerName);
      tab.find('.taxClass .taxData').html(p.taxClass);

      tab.find('.stimatedValue .taxData').html(toDollars(p.years[0].estimatedValue));
      tab.find('.assessedValue .taxData').html(toDollars(p.years[0].assessedValue));
      tab.find('.taxRate .taxData').html(p.years[0].taxRate);
      tab.find('.taxBefore .taxData').html(toDollars(p.years[0].taxBefore));
      tab.find('.annualTax .taxData').html(toDollars(p.years[0].annualTax));
      tab.find('.unitsTotal .taxData').html(p.unitsTotal);
      tab.find('.taxPerUnit .taxData').html(toDollars(p.years[0].annualTax/p.unitsTotal));

      tab.find('.taxBillLink a').click(function (e) {
        e.preventDefault();
        var billUrl = 'http://nycprop.nyc.gov/nycproperty/StatementSearch?bbl=' + p.billingbbl + '&stmtDate=20131122&stmtType=SOA';
        window.open(billUrl);
      });

      $(tab[0]).removeAttr('id').addClass('active');
      $('#sidebar').append(tab);
      tab.show();

      tab.find('.close').click(function (e) {
           tab.remove();
      })
  }
    // sidebar needs to have up to 3 tabs. When a property is clicked, it should put all the variables in a tab. When the 2nd is clicked, it should put it in the tab below. 3rd is same. When the 4th is clicked, it should remove the first tab and insert a new tab below. Tabs should have an exit circle to click and get out of the tab. If tab 1 is exited, move tabs 2 and 3 up. If tab 2 is clicked, move tab 3 up...
    // first step - clone the taxTabTemplate when a property is clicked, and fill in the appropriate fields.

  function updateFlyout(d){
      //console.log(d);
      $('#flyoutAddress').html(d.propertyAddress);
      if (d.years) {
        $('#flyoutTax').html(toDollars(d.years[0].annualTax));
      }

      clearTimeout(flyoutTimer);
      $('#flyout').fadeIn(50);

  }

  function clearSidebar() {
      $('.taxData').html("");
  }

  function projectPoint(x, y) {
    var point = map.latLngToLayerPoint(new L.LatLng(y, x));
    this.stream.point(point.x, point.y);
  }

  function toDollars(n){
    if (!n) return 'undefined';
    if (typeof n == 'String') n = parseInt(n);
    var dollars = n.toFixed(0).toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g,'$1,').split('').reverse().join('').replace(/^[\,]/,'');
    return "$" + dollars;
  }

</script>
</body>
</html>